

body{
    font-family: YekanBakh;
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/YekanBakh-Heavy.630c4fa4.woff') format('woff');
}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/YekanBakh-Medium.f7360956.woff') format('woff');
}

.w_inherit{
    width: inherit;
}